@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700;800&display=swap');
:root {
    --red-1: #FF4A4A;
    --light-1: #FFFFFF;
    --gray-1: #A1A1A1;
    --gray-2: #D3D3D3;
    --gray-3: #939393;
    --dark-1: #3C3C3C;
    --dark-2: #555555;
    --dark-3: #252525;
    --green-1: #61E961;
    --blue-1: #4E5FFF;
    --blue-2: #9296FF;
    --yellow-1: #FFD336;
}

* {
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--dark-3);
    border-radius: 5px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}