
/* Botones */
/* Button add member */
.btn-add-member {
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 5px solid transparent;
    transition: 0.4s;
}
.btn-add-member iconify-icon {
    transition: 0.4s;
    color: var(--green-1);
    border: 4px solid transparent;
    border-radius: 10px;
}
.btn-add-member:hover iconify-icon {
    border-color: var(--green-1);
}
/* Member Item */
.member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F0F0F0;
}
.member-item .content {
    position: relative;
    width: 100px;
}
.member-item .content span {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-2);
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.member-item .content.edit span {
    display: none;
}
.member-item .content.edit input {
    display: block;
}
.member-item .content input {
    background-color: var(--dark-3);
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    border: 0;
    border-radius: 5px;
    padding: 6px;
    outline: 0;
    display: none;
}
.member-item .actions {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.member-item .actions .action {
    background-color: var(--color-action);
    color: #f0f0f0;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.4s;
}
.member-item .actions iconify-icon {
    font-size: 17px;
}
.member-item .edit {
    --color-action: var(--yellow-1); 
}
.member-item .delete {
    --color-action: var(--red-1);
}
.member-item .edit:hover, 
.member-item .delete:hover {
    border-color: var(--color-action);
    background-color: #f0f0f0;
    color: var(--color-action);
}
/* === */
/* Button Raffle */
#btn-raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
}
#btn-raffle iconify-icon {
    color: var(--light-1);
    background-color: var(--blue-1);
    border: 6px solid var(--blue-2);
    font-size: 50px;
    padding: 12px;
    border-radius: 100%;
    transition: 0.5s;
}
#btn-raffle span {
    color: var(--gray-1);
    font-weight: bold;
    transition: 0.5s;
}
#btn-raffle:not(.disabled):hover {
    transform: scale(1.2);
}
#btn-raffle:not(.disabled):hover span {
    color: var(--blue-1);
}
#btn-raffle:not(.disabled):hover iconify-icon {
    transform: rotate(360deg);
}
#btn-raffle.disabled {
    pointer-events: none;
}
#btn-raffle.disabled iconify-icon {
    background-color: var(--gray-3);
    border-color: var(--gray-2);
    color: var(--light-1);
}
#btn-raffle.disabled span {
    color: var(--gray-2);
}

/* Button back */
#btn-back {
    border: 5px solid #FF961E;
    background-color: #FF961E;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-back:hover {
    color: #FF961E;
    border-radius: 20px;
    background-color: #ffffff;
}

/* Member item relation result 1 y 2 */
.member-item-relation-result {
    border-radius: 6px;
    font-weight: bold;
    padding: 20px;
    transition: 0.4s;
    width: 100%;
    border: 5px solid #151515;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-item-relation-result:hover {
    transform: scale(1.05);
}
.member-item-relation-1-result {
    background-color: #ffffff;
    color: #949494;
    border-color: #949494;
}
.member-item-relation-2-result {
    background-color: #151515;
    color: #ffffff;
}
.member-item-relation-2-result.invisible {
    opacity: 0;    
}

/* Secciones de contenido */
main {
    padding: 10px;
}
/* Header */
#header-main {
    background-color: #2C2C2C;
}
#header-main .title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
#header-main .title iconify-icon {
    color: #FF961E;
    font-size: 40px;
}
#header-main .title h1 {
    color: #FFFF81;
}

#section-add-relations {
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
#container-sections-relation {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
}

.section-content {
    display: none;
    opacity: 0;
    transition: 0.7s;
    width: 100%;
}
.section-content.visible {
    opacity: 1;
}
.section-content.active {
    display: flex;
}

/* Section Relation */
.section-relation {
    min-width: 300px;
    width: 48%;
}
.section-relation > .container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 8px;
    background-color: var(--dark-1);
    width: 100%;
    overflow: scroll;
    height: 360px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.section-relation .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.section-relation .description h3 {
    width: max-content;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: var(--gray-1);
}
.section-relation .description .part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.section-relation .description .part1 h3 {
    font-weight: 400;
}
.btn-delete-relation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 0;
    background-color: var(--red-1);
    border: 4px solid var(--red-1);
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
}
.btn-delete-relation iconify-icon {
    font-size: 30px;
    transition: 0.4s;
}
.btn-delete-relation:hover iconify-icon {
    background-color: #FFFFFF;
    color: var(--red-1);
}
.btn-delete-relation:disabled {
    background-color: var(--gray-2);
    border-color: var(--gray-2);
    pointer-events: none;
}

.part2 {
    position: relative;
}
/* Dialog Confirm */
.dialog-confirm {
    position: absolute;
    top: 50px;
    right: 0;
    transform: scale(0);
    transition: 0.4s;
    background-color: var(--light-1);
    border: 4px solid var(--red-1);
    border-radius: 5px;
    width: 224px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(0);
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    z-index: -1;
}
.dialog-confirm.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}
.dialog-confirm::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 5px;
    border: 8px solid var(--red-1);
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
}
.dialog-confirm h4 {
    font-size: 14px;
    margin: 0;
    color: var(--red-1);
}
.dialog-confirm footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.dialog-confirm footer .confirm-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.35s;
}
.dialog-confirm footer .confirm-btn span {
    font-size: 16px;
    font-weight: bold;
    transition: inherit;
}
.dialog-confirm footer .confirm-btn iconify-icon {
    font-size: 22px;
    transition: inherit;
}
.dialog-confirm footer .confirm-yes * {
    color: var(--red-1);
}
.dialog-confirm footer .confirm-no * {
    color: var(--yellow-1);
}
.dialog-confirm footer .confirm-btn:hover iconify-icon {
    transform: translateX(20px) scale(1.8);
}
.dialog-confirm footer .confirm-btn:hover span {
    opacity: 0;
}
/* === */
/* Results */
#section-results {
    transform: scale(0);
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}
#section-results .container {
    overflow: scroll;
    width: 100%;
    height: 400px;
}
#section-results .container .content {
    display: flex;
    justify-content: space-around;
    min-width: 700px;
    width: 100%;
}
#section-results.visible {
    transform: scale(1);
}
.container-results {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}
#container-results-1, #container-results-2 {
    cursor: default;
}
/* === */


/* Footer Main */
#footer-main {
    display: flex;
    justify-content: flex-end;
    background-color: #F0F0F0;
}
#footer-main h5 {
    color: #9F9F9F;
    margin-right: 15px;
    font-size: 16px;
}

/* Media */
@media (max-width: 700px) {
    .container-results {
        width: 200px;
    }
    #section-add-relations {
        flex-direction: column;
        align-items: center;
    }
    #container-sections-relation, .section-relation {
        width: 100%;
        padding: 5px;
    }
}
